<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <title>Greenhouse</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  </head>
  <body>
    <a href="/" id="back">&laquo; Go back</a>
    <div id="sensor-tabs" class="tab-container">
      Sensor:
    </div>
    <div id="week-tabs" class="tab-container">
      Week:
    </div>
    <div id="day-tabs" class="tab-container">
      Day:
      <button class="day-tab day-selected" id="day-1">Monday</button>
      <button class="day-tab" id="day-2">Tuesday</button>
      <button class="day-tab" id="day-3">Wednesday</button>
      <button class="day-tab" id="day-4">Thursday</button>
      <button class="day-tab" id="day-5">Friday</button>
      <button class="day-tab" id="day-6">Saturday</button>
      <button class="day-tab" id="day-7">Sunday</button>
    </div>
    <canvas id="graph"></canvas>
    <div style="display: flex; flex-wrap: wrap">
      <table>
        <thead>
          <tr>
            <th>Hour</th>
            <th>Temperature °C</th>
            <th>Humidity %</th>
            <th>brightness W/m²</th>
          </tr>
        </thead>
        <tbody id="history"></tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Statistic</th>
            <th>Temperature °C</th>
            <th>Humidity %</th>
            <th>brightness W/m²</th>
          </tr>
        </thead>
        <tbody id="statistics">
          <tr>
            <td>Average - sensor</td>
            <td class="statistics-cell" id="average-temperature-sensor"></td>
            <td class="statistics-cell" id="average-humidity-sensor"></td>
            <td class="statistics-cell" id="average-brightness-sensor"></td>
          </tr>
          <tr>
            <td>Maximum - sensor</td>
            <td class="statistics-cell" id="max-temperature-sensor"></td>
            <td class="statistics-cell" id="max-humidity-sensor"></td>
            <td class="statistics-cell" id="max-brightness-sensor"></td>
          </tr>
          <tr>
            <td>Minimum - sensor</td>
            <td class="statistics-cell" id="min-temperature-sensor"></td>
            <td class="statistics-cell" id="min-humidity-sensor"></td>
            <td class="statistics-cell" id="min-brightness-sensor"></td>
          </tr>
          <tr>
            <td>Average - week</td>
            <td class="statistics-cell" id="average-temperature-week"></td>
            <td class="statistics-cell" id="average-humidity-week"></td>
            <td class="statistics-cell" id="average-brightness-week"></td>
          </tr>
          <tr>
            <td>Maximum - week</td>
            <td class="statistics-cell" id="max-temperature-week"></td>
            <td class="statistics-cell" id="max-humidity-week"></td>
            <td class="statistics-cell" id="max-brightness-week"></td>
          </tr>
          <tr>
            <td>Minimum - week</td>
            <td class="statistics-cell" id="min-temperature-week"></td>
            <td class="statistics-cell" id="min-humidity-week"></td>
            <td class="statistics-cell" id="min-brightness-week"></td>
          </tr>
          <tr>
            <td>Average - day</td>
            <td class="statistics-cell" id="average-temperature-day"></td>
            <td class="statistics-cell" id="average-humidity-day"></td>
            <td class="statistics-cell" id="average-brightness-day"></td>
          </tr>
          <tr>
            <td>Maximum - day</td>
            <td class="statistics-cell" id="max-temperature-day"></td>
            <td class="statistics-cell" id="max-humidity-day"></td>
            <td class="statistics-cell" id="max-brightness-day"></td>
          </tr>
          <tr>
            <td>Minimum - day</td>
            <td class="statistics-cell" id="min-temperature-day"></td>
            <td class="statistics-cell" id="min-humidity-day"></td>
            <td class="statistics-cell" id="min-brightness-day"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  <script src="{{ url_for('static',filename='history.js') }}"></script>
</html>
