<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Forgot password</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static',filename='styles/log-sign.css') }}"
		/>
	</head>
	<body>
		{% extends "base.html" %} {% block content %}
		<div id="container">
			<div id="form-container">
				<form action="/forgot-password" method="post">
					<label for="email">Please enter your email</label>
					<div>
						<input type="email" name="email" />
					</div>
					<button type="submit">Send password</button>
				</form>
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
					<div>
						{% if messages[0][0] == 'not_registered' %}
							{{ messages[0][1] }}. Go to <a href="{{ url_for('auth.sign_up') }}">login page</a>.
						{% elif messages[0][0] == 'error' %}
							{{ messages[0][1] }}
						{% else %}
							{{ messages[0][1] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
						{% endif %}
					</div>
					{% endif %}
			</div>
		</div>
		{% endwith %} {% endblock %}
	</body>
</html>
