<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mario</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/cashier.css') }}">
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />
    </head>
    <body>
        <div class="menu">
            {%for (index, name, price, image) in menu%}
            <div class="pizza">
                <p>
                    <b>{{ name }}</b>
                </p>
                <img src="{{url_for('static', filename='svgs/' + image )}}" alt={{ name }} width="80%" height="80%">
                <form action="/add_cashier" method="post">
                    <input type="text", name="amt">
                    <button name="add", type="submit" value={{ index }}>add to order</button>
                </form> 
            </div>
            {%endfor%}
        </div> 
        <div class="orderlist">
            <h3>orders</h3>
            <table>
                <tr>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Price</th>
                </tr>
                {% for (Type, Amount, Price, id) in data %}
                    <tr>
                        <td>{{ Type }}</td>
                        <td>{{ Amount }}</td>
                        <td>{{ Price }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="line"></div><br>
            <p>Total price:{{ total_price }}</p>
        </div>
        <div class="oven">
            <p>{{ Oven }}</p>
        </div>
        <div class="send">
            <form action="/order" method="post">
                <input type="submit" value="Send order"></input>
            </form> 
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('reload', () => window.location.reload());
    </script>
</html>

<!--
    credentials: mario@gmail.it
-->